Pillow==10.4.0            # For handling images (PIL is part of Pillow)
torch==2.3.1            # PyTorch deep learning framework
numpy==1.26.4            # For numerical operations
torchvision==0.18.1      # For computer vision utilities (related to PyTorch)
streamlit
